/* General App Styling */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1f242d;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  margin-top: 20px;
  padding: 50px;
}

h2 {
  color: #fff;
  font-size: 1.8rem;
  margin-top: 20px;
  text-align: center;
}

p {
  font-size: 1rem;
  color: #0ef;
  line-height: 1.5;
}

strong {
  color: #fff;
}

/* Input Section */
.input1 {
  width: 40%;
  padding: 10px;
  margin: 10px 10px 20px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-right: 110px;

}
.input2 {
  width: 40%;
  padding: 10px;
  margin: 10px 10px 20px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  background-color: #0ef;
  border: none;
  border-radius: 4rem;
  color: rgb(2, 2, 2);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: .5s ease;
  box-shadow: 0 0 1rem #0ef;
  margin-left: 43%;
}

button:hover {
  box-shadow: none;
}

/* Map Container */
.leaflet-container {
  margin: 20px auto;
  height: 500px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Route Details */
.main {
  margin: 20px auto;
  width: 80%;
  background: #1f242d;
}

.box , .details , .prediction{
  background: #323946;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100vh;
  margin-left: 18%;
  margin-top: 5%;
}

h2 + p {
  margin: 10px 0;
}

/* Traffic Level Indicator */
p[style*="red"] {
  font-weight: bold;
  color: #d9534f;
}

p[style*="orange"] {
  font-weight: bold;
  color: #f0ad4e;
}

p[style*="green"] {
  font-weight: bold;
  color: #5cb85c;
}

